.navBar {
    display: flex;
    justify-content: space-between;
}

.navBarLogo {
    width: 4dvh;
    height: 4dvh;
    margin-left: 3dvh;
    margin-top: 3vh;
}

.hambButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hambIcon {
    background-color: transparent;
    border: none;
    width: 3dvh;
    height: 3dvh;
    margin-right: 3dvh;
    margin-top: 3dvh;
}

.hambButton:hover {
    opacity: 0.7;
}